**/.idea
**/.vscode
**/__pycache__
**/.git
**/logs
**/.ipynb_checkpoints
Python\ Tutorial\ Django/src/mydjango/settings.py
Python\ Tutorial\ Tkinter/13_Weather_app.py
Python\ Tutorial\ OpenCV/11_Traffic\ signs/
Python\ Tutorial\ PyTorch/data
Python\ Tutorial\ PyTorch/src
data/