{% extends "base.html" %} <!-- inheritance -->

{% block content %}
    <h1>About</h1>

    <h3>{{ title|capfirst }}</h3>

    <p>This is a about goof</p>

    <p>
        {{ my_num }}, <br>  <!-- new line -->
        {{ my_list }}
    </p>  <!-- call the dictionary -->

    <ul>
        {% for item in my_list %} <!-- for loop in html -->
        <li>
            {% if item == 1 %} <!-- if statement -->
            {{ forloop.counter }} - {{ item|add:22 }}
            {% elif item == "1" %}
            {{ forloop.counter }} - {{ item }} - I don like you
            {% else %}
            {{ forloop.counter }} - {{ item }}
            {% endif %}
        </li>
        {% endfor %}
    </ul>

{% endblock content %}

{% comment 121313 %} <!-- comment block -->
asdasdwd
sefs
{% endcomment %}